.container {
  padding: 0 2rem;
}

.filters_div{
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 0;
}

.table_div{
  margin: auto 2%;
}

.table_head th{
  width: 14%;
  text-align: left;
}

.pagination_div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 0;
}

.pages_div{
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

